body {
    background-color: gray;
}

#chessContainer {
    margin-top: 100px;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    display: grid ;
    grid-template-columns: repeat(8, 75px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 600px;
    height: 75px;
}

.square {
    width: 75px;
    height: 75px ;
    position: relative;
}

.square > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
